{% extends 'search/base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <br>
    <p>
        1. Use <a href="https://imdb.com" target="_blank">IMDB</a> to make sure you know which movie it is you'd like to watch.
        <br>
        2. Type in the name of the movie you wish to watch in the search bar.
        <br>
        3. Find the right movie, click download
        <br>
        4. Check back in 20 minutes and enjoy your film :)

        <br><br> 

    </p>
    <p>        

        <form action="" method="POST">
            {% csrf_token %}
            Search for Movie :
            <br><input type="text" name="movie"><br>
            <button type="submit" value="submit" class="btn btn-info">Submit</button>
            <hr><br><br>
        </form>
                <a href="https://yts.mx/api/v2/list_movies.json?query_term=Clouds">Your results</a>
        {% for movie in movies %}
            <form action="" method="POST">
                <div class="card" style="width: 50rem;">
                <img class="card-img-top" src="..." alt="Movie image will display here">
                <div class="card-body">
                    <h5 class="card-title">{{movie.name}}</h5>
                    <p class="card-text">{{movie.summary}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="badge badge-info">movie year</span> : {{movie.year}}</li>
                    <li class="list-group-item"><span class="badge badge-info">movie rating</span> : {{movie.rating}}</li>
                    <li class="list-group-item"><span class="badge badge-info">movie title</span> : {{movie.name}}</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.imdb.com/title/{{movie.imdb}}/" class="card-link">IMDB link</a>
                    <button type="submit" name="movie_name" value="{{movie.m_hash}}" class="btn btn-success">Download</button><br>
                </div>
                </div>
                
            {% csrf_token %}

        {% endfor %}
            </form>
    </p>

</div>

{% endblock content %}