{% extends 'search/base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <br>
    <p>
        1. Use <a href="https://imdb.com" target="_blank">IMDB</a> to make sure you know which movie it is you'd like to watch.
        <br>
        2. Type in the name of the movie you wish to watch in the search bar.
        <br>
        3. Find the right movie, click download
        <br>
        4. Check back in 20 minutes and enjoy your film :)

        <br><br> 
        <a href="https://yts.mx/api/v2/list_movies.json?query_term=Clouds">Your results</a>
    </p>
    <p>        
        {% comment %} <form action = "" method = "POST"> 
        {% csrf_token %}
            <label for="movie_name">Your search: </label> 
            <input id="your_name" type="checkbox" name="movie_name" value="my furry butthole"> 
            <input type="submit" value="OK"> 
        </form>  {% endcomment %}

        {% for movie in movies %}
            <form action="" method="POST">
            {% csrf_token %}
            <label for="movie_name">{{movie.name}}: </label> 
            <button type="submit" name="movie_name" value="{{movie.m_hash}}">Download</button><br>

        {% endfor %}
            </form>
            
    </p>

</div>
<div class="jumbotron text-center bg-transparent">
    <h3>Visit <a href="https://yts.mx" target="_blank">here</a>  if you know what you're doing"</h3> 
</div>
{% endblock content %}